 //colores
 $mainColor: rgba(2,200,2,0.2);
 $colorFooter: rgba(0,250,200,0.2);
 $bodyColor: rgba(0,15,19,.5);
 $textColor:rgba(0,0,100,0.3);
 $black: rgba(0,0,0,.5);


 //sizing
 $w-25:25%;
 $w-50:50%;
 $w-100:100%;


