@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap');
//fonts

$fontMain: 	'Roboto', sans-serfif;
$fontSecundary:'Orbitron', sans-serfif;

 //font size
 $text-Sm:1em;
 $text-md:2em;
 $text-Lg:3em;
 $text-Xl:4em;